@{
    ViewBag.Title = "کارتابل";
}

<div class="container-fluid">
    <!-- Small boxes (Stat box) -->
    <div class="row">
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
                <div class="inner">
                    <h3>150</h3>

                    <p>سفارشات جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-bag"></i>
                </div>
                <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
                <div class="inner">
                    <h3>53<sup style="font-size: 20px">%</sup></h3>

                    <p>کالاهای تامین شده</p>
                </div>
                <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                </div>
                <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>44</h3>

                    <p>مشتریان جدید</p>
                </div>
                <div class="icon">
                    <i class="ion ion-person-add"></i>
                </div>
                <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
                <div class="inner">
                    <h3>65</h3>

                    <p>سفارشات مرجوع شده</p>
                </div>
                <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                </div>
                <a href="#" class="small-box-footer">اطلاعات بیشتر <i class="fa fa-arrow-circle-left"></i></a>
            </div>
        </div>
        <!-- ./col -->
    </div>
    <!-- /.row -->
    <!-- Main row -->
    <div class="row">
        <!-- Left col -->
        <section class="col-lg col-12">
            <div class="row title-custom ">
                <h2>
                    کارتابل ارجاعات
                </h2>
            </div>
            <div class="card card-body">
                <table id="jqGrid"></table>
                <div id="jqControls"></div>
            </div>
        </section>
    </div>
    <!-- /.row (main row) -->
</div><!-- /.container-fluid -->


@section scripts
{
    <script>
        $(function () {
            $("#jqGrid").jqGrid({
                url: "@Url.Action(MVC.Home.ActionNames.ShowGrid)",
                datatype: 'json',
                mtype: 'POST',
                colNames: ['کد یکتا', 'موضوع', 'تاریخ', 'توضیجات', 'عملیات'],
                colModel: [
                    {
                        key: true,
                        hidden: true,
                        name: 'Id',
                        index: 'Id',
                        width: 50
                    },
                    {
                        key: false,
                        name: 'Subject',
                        index: 'Subject',
                        align: "center",
                        sorttype: "string",
                        width: 200
                    },
                    {
                        key: false,
                        name: 'RegisterDateFa',
                        index: 'RegisterDateFa',
                        align: "center",
                        sorttype: "string",
                        width: 100
                    },
                    {
                        key: false,
                        name: 'Description',
                        index: 'Description',
                        align: "center",
                        sorttype: "string",
                        width: 200

                    },
                    {
                        key: false,
                        name: 'Actions',
                        index: 'Actions',
                        formatter: displayButtons,
                        search: false,
                        align: "center",
                        width: 50
                    },
                ],
                pager: jQuery('#jqControls'),
                rowNum: 10,
                rowList: [10, 20, 30, 40, 50],
                height: '100%',
                sortorder: 'desc',
                viewrecords: true,
                shrinkToFit: true,
                caption: 'لیست ارجاعات',
                direction: "rtl", // instructs the grid to use RTL settings
                emptyrecords: 'رکوردی برای نمایش وجود ندارد',
                jsonReader: {
                    root: "rows",
                    page: "page",
                    total: "total",
                    records: "records",
                    repeatitems: false,
                    sortable: true,
                    Id: "0"
                },
                autowidth: true,
                multiselect: false,
                onSelectRow: function (id) {
                    //Onclick
                    alert(id);
                },
                loadComplete: function () {
                    ConvertNumberToPersion();
                },
                loadError: function (xhr, st, err) {
                    jQuery("#jqControls")
                        .html("Type: " + st + "; Response: " + xhr.status + " " + xhr.statusText);
                },
            }).navGrid('#jqControls', { search: false, refresh: true, edit: false, add: false, del: false })
            .jqGrid('filterToolbar',
                {
                    stringResult: true,
                    searchOnEnter: false,
                    autosearch: true,
                    searchOperators: true,
                    groupOp: 'AND',
                    defaultSearch: 'cn'
                })
            .jqGrid('navButtonAdd',
                '#jqControls',
                {
                    caption: "",
                    title: "تنظیم نمایش ستون ها",
                    onClickButton: function () {
                        jQuery("#jqGrid").jqGrid('columnChooser',
                            {
                                done: function (perm) {
                                    //SetGridCookie("jqGrid", "jq_Grid", perm);
                                    console.log(perm);
                                }
                            });
                    }
                })
            .jqGrid('navButtonAdd', '#jqControls',
                {
                    caption: "",
                    title: "فیلترهای جستجو",
                    buttonicon: 'ui-icon-search',
                    onClickButton: function () {
                        this.toggleToolbar();
                    }
                }
            )

        });

        function displayButtons(cellvalue, options, rowObject) {
            var ShowBtn = "<button  class='btn-sm btn-warning' type='button'><i class='fa fa-info-circle'></i><span style='margin-right: 5px;'>نمایش</span></button >";
            return ShowBtn;
        };
    </script>
}