@model Pardis.Product.BLL.ViewModel.AccountLogin
@{
    ViewBag.Title = "ورود کاربران";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
    var ErrorMessage = TempData["ErrorMessage"]?.ToString() ?? "";
}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            @using (Html.BeginForm("Login", "Home", FormMethod.Post, new { @class = "login100-form validate-form" }))
            {
                if (!String.IsNullOrWhiteSpace(ErrorMessage))
                {
                    <div class="row">
                        <div class="col-8 flex-col-c">
                            <span class="MessageLoginError">
                                @ErrorMessage
                            </span>
                        </div>
                    </div>
                }

                <span class="login100-form-title p-b-43">
                    برای ادامه وارد شوید
                </span>


                <div class="wrap-input100 validate-input" data-validate="نام کاربری را وارد کنید">
                    @Html.TextBoxFor(model => model.UserName, new { @class = "input100" })
                    <span class="focus-input100"></span>
                    <span class="label-input100" style="margin-right:2px;">نام کاربری</span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="کلمه عبور را وارد کنید">
                    <!--input class="input100" type="password" name="pass"-->
                    @Html.PasswordFor(model => model.Password, new { @class = "input100", @name = "pass" })
                    <span class="focus-input100"></span>
                    <span class="label-input100" style="margin-right:2px;">کلمه عبور</span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-32">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            مرا بخاطر بسپار
                        </label>
                    </div>

                    <div>
                        <a href="#" class="txt1">
                            کلمه عبور خود را فراموش کرده اید؟
                        </a>
                    </div>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        ورود
                    </button>
                </div>

                <div class="text-center p-t-46 p-b-20">
                    <span class="txt2">
                        وارد شوید با
                    </span>
                </div>

                <div class="login100-form-social flex-c-m">
                    <a href="#" class="login100-form-social-item flex-c-m bg1 m-r-5">
                        <i class="fa fa-facebook-f" aria-hidden="true"></i>
                    </a>

                    <a href="#" class="login100-form-social-item flex-c-m bg2 m-r-5">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                </div>
            }
            <div class="login100-more" style="background-image: url('/Content/img/bg-01.jpg');">
            </div>
        </div>
    </div>
</div>
